{% extends "base.html" %}
{% load static %}


{% block content %}

<!DOCTYPE html>
<html lang="en">

<body>

 


  <!--/ Intro Single star /-->
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">بلاگ های ما</h1>
            <span class="color-text-a">خبر های جدید درباره ملک و زمین </span>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'house:house_list'  %}">صفحه اصلی</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                بلاگ 
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!--/ Intro Single End /-->

  <!--/ News Grid Star /-->
  <section class="news-grid grid">
    <div class="container">
      <div class="row">
      {% for blog in blog_list %}
      <div class="col-md-4">
        <div class="card-box-b card-shadow news-box">
          <div class="img-box-b">
            <img style="width: 100%; height: 200px;" src="{{blog.image.url}}" alt="" class="img-b img-fluid">
          </div>
          <div class="card-overlay">
            <div class="card-header-b">
              <div class="card-category-b">
                <a href="#" class="category-b">{{blog.category}}</a>
              </div>
              <div class="card-title-b">
                <h2 class="title-2">
                  <a href="{% url 'blog:blog_detail' blog.id %}">{{blog.title}}
                    </a>
                </h2>
              </div>
              <div class="card-date">
                <span class="date-b">{{blog.created_at}}</span>
              </div>
              <div class="card-date">
                <span class="date-b">{{blog.author}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      {% endfor %}
       

      </div>

      {% if blog_list.has_other_pages %}

      <div class="row">
        <div class="col-sm-12">
          <nav class="pagination-a">
            <ul class="pagination justify-content-end">

                {% if blog_list.has_previous %}
                <li class="page-item ">
                    <a class="page-link" href="?page={{blog_list.previous_page_number}}" tabindex="-1">
                      <span class="ion-ios-arrow-back"></span>
                    </a>
                  </li>
                {% endif %}

                {% for page in blog_list.paginator.page_range %}

                {% if blog_list.number == page %}
                <li class="page-item active">
                    <a class="page-link disabled" href="?page={{page}}">{{page}}</a>
                  </li>
                  {% else %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{page}}">{{page}}</a>
                  </li>

                {% endif %}
            
                {% endfor %}
            
              {% comment %} <li class="page-item ">
                <a class="page-link" href="#">2</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">3</a>
              </li>  {% endcomment %}
              {% if blog_list.has_next %}
              <li class="page-item next">
                <a class="page-link" href="?page={{blog_list.next_page_number}}">
                  <span class="ion-ios-arrow-forward"></span>
                </a>
              </li>
              
              {% endif %}
            </ul>
          </nav>
        </div>
      </div>
      {% endif %}
     
    </div>
  </section>
  <!--/ News Grid End /-->


</body>
</html>



{% endblock content %}
