


{% extends "base.html" %}
{% load static %}


{% block content %}

<!DOCTYPE html>
<html lang="en">


<body>




  <!--/ Intro Single star /-->
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">مشاوران املاک ما</h1>
            
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'house:house_list'  %}">صفحه اصلی</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                مشاوران املاک
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!--/ Intro Single End /-->

  <!--/ Agents Grid Star /-->
  <section class="agents-grid grid">
    <div class="container">
      <div class="row">
        {% for agent in agent_list %}

        <div class="col-md-4">
          <div class="card-box-d">
            <div class="card-img-d">
              <img style="width: 100%; height: 250px;" src="{{agent.image.url}}" alt="" class="img-d img-fluid">
            </div>
            <div class="card-overlay card-overlay-hover">
              <div class="card-header-d">
                <div class="card-title-d align-self-center">
                  <h3 class="title-d">
                    <a href="{% url 'agent:agent_detail' agent.id %}" class="link-two">{{agent.name}}
                      </a>
                  </h3>
                </div>
              </div>
              <div class="card-body-d">
                <p class="content-d color-text-a">
                  {{agent.description}}
                </p>
                <div class="info-agents color-a">
                  <p>
                    <strong>تلفن : </strong> {{agent.phone_number}}</p>
                  <p>
                    <strong>ایمیل : </strong> {{agent.email}}</p>
                </div>
              </div>
              <div class="card-footer-d">
                <div class="socials-footer d-flex justify-content-center">
                  {% comment %} <ul class="list-inline">
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-dribbble" aria-hidden="true"></i>
                      </a>
                    </li>
                  </ul> {% endcomment %}
                  <a href="{% url 'agent:agent_detail' agent.id %}" class="link-a" >مشاهده اطلاعات بیشتر 
                    <span class="ion-ios-arrow-forward"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
   
      </div>
 
      
      <div class="row">
        
        <div class="col-sm-12">
          <nav class="pagination-a">
            <ul class="pagination justify-content-end">
              {% if agent_list.has_previous %}
                <li class="page-item ">
                    <a class="page-link" href="?page={{agent_list.previous_page_number}}" tabindex="-1">
                      <span class="ion-ios-arrow-back"></span>
                    </a>
                  </li>
                {% endif %}
              {% for page in agent_list.paginator.page_range %}

              {% if agent_list.number == page %}
              <li class="page-item active">
                  <a class="page-link disabled" href="?page={{page}}">{{page}}</a>
                </li>
                {% else %}
                <li class="page-item">
                  <a class="page-link" href="?page={{page}}">{{page}}</a>
                </li>

              {% endif %}
          
              {% endfor %}
              {% if agent_list.has_next %}
              <li class="page-item next">
                <a class="page-link" href="?page={{agent_list.next_page_number}}">
                  <span class="ion-ios-arrow-forward"></span>
                </a>
              </li>
              
              {% endif %}
          
            </ul>
          </nav>
        </div>
      </div>
      
  
    </div>
   

  </section>
  <!--/ Agents Grid End /-->


</body>
</html>
{% endblock content %}
