



{% extends "base.html" %}
{% load static %}



{% block content %}

<!DOCTYPE html>
<html lang="ar">


<body>





  <!--/ Intro Single star /-->
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">{{agent.name}}</h1>
          
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'house:house_list'  %}">صفحه اصلی</a>
              </li>
              <li class="breadcrumb-item">
                <a href="{% url 'agent:agent_list'  %}">مشاوران املاک</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                {{agent.name}}
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!--/ Intro Single End /-->

  {% if user.is_authenticated %}


  <!--/ Agent Single Star /-->
  <section class="agent-single">
    <div class="container">
      <div class="row">
       <div class="col-sm-12"> 
          <div class="row">
            <div class="col-md-6">
              <div  class="agent-avatar-box">
                <img  src="{{agent.image.url}}" alt="" class="agent-avatar img-fluid">
              </div>
            </div>
            <div class="col-md-5 section-md-t3">
              <div class="agent-info-box">
                <div class="agent-title">
                  <div class="title-box-d">
                    <h3 class="title-d"> {{agent.name}}
                      </h3>
                  </div>
                </div>
                <div class="agent-content mb-3">
                  <p class="content-d color-text-a">
                    {{agent.description}}
                  </p>
                  <div class="info-agents color-a">
                    <p>
                      <strong>شماره تلفن: </strong>
                      <span class="color-text-a"> {{agent.phone_number}} </span>
                    </p>
                 
                    <p>
                      <strong>ایمیل: </strong>
                      <span class="color-text-a"> {{agent.email}}</span>
                    </p>
                    <p>
                      <strong>واتس اپ : </strong>
                      <span class="color-text-a"> Margaret.Es</span>
                    </p>
                    <p>
                      <strong>تلگرام: </strong>
                      <span class="color-text-a"> agents@example.com</span>
                    </p>
                  </div>
                </div>
                <div class="socials-footer">
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fa fa-dribbble" aria-hidden="true"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
       </div>
       <div class="col-md-12 section-t8">
        <div class="title-box-d">
          <h3 class="title-d">املاک مربوطه :</h3>
        </div>
       </div>  
       
        
        {% for house in house_list %}
          
        <div class="col-md-4">
         <div class="card-box-a card-shadow">
          <div class="img-box-a">
            <img style="width: 100%; height: 250px;" src="{{house.first_photo.url}}" alt="" class="img-a img-fluid">
          </div>
          <div class="card-overlay">
            <div class="card-overlay-a-content">
              <div class="card-header-a">
                <h2 class="card-title-a">
                  <a href="#">{{house.name}}
                    <br /> {{house.description}}</a>
                </h2>
              </div>
              <div class="card-body-a">
                <div class="price-box d-flex">
                  <span class="price-a">rent |{{house.price}}</span>
                </div>
                <a href="{% url 'house:house_detail' house.id %}" class="link-a">مشاهده جزییات
                  <span class="ion-ios-arrow-forward"></span>
                </a>
              </div>
              <div class="card-footer-a">
                <ul class="card-info d-flex justify-content-around">
                  <li>
                    <h4 class="card-info-title">مساحت</h4>
                    <span>{{house.aria}}m
                      <sup>2</sup>
                    </span>
                  </li>
                  <li>
                    <h4 class="card-info-title">تعداد خواب </h4>
                    <span>{{house.room}}</span>
                  </li>
                  <li>
                    <h4 class="card-info-title">حمام و دسشویی</h4>
                    <span>{{house.bathroom}}</span>
                  </li>
                  <li>
                    <h4 class="card-info-title">پارکینگ</h4>
                    <span>{{house.house_park}}</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          
         </div>
        </div>
        
        {% endfor %} 
        {% comment %} <div class="col-md-4">
          <div class="card-box-a card-shadow">
            <div class="img-box-a">
              <img src="img/property-1.jpg" alt="" class="img-a img-fluid">
            </div>
            <div class="card-overlay">
              <div class="card-overlay-a-content">
                <div class="card-header-a">
                  <h2 class="card-title-a">
                    <a href="#">204 Mount
                      <br> Olive Road Two</a>
                  </h2>
                </div>
                <div class="card-body-a">
                  <div class="price-box d-flex">
                    <span class="price-a">rent | $ 12.000</span>
                  </div>
                  <a href="#" class="link-a">Click here to view
                    <span class="ion-ios-arrow-forward"></span>
                  </a>
                </div>
                <div class="card-footer-a">
                  <ul class="card-info d-flex justify-content-around">
                    <li>
                      <h4 class="card-info-title">Area</h4>
                      <span>340m
                        <sup>2</sup>
                      </span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Beds</h4>
                      <span>2</span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Baths</h4>
                      <span>4</span>
                    </li>
                    <li>
                      <h4 class="card-info-title">Garages</h4>
                      <span>1</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div> {% endcomment %}
        
       
       {% comment %} <div class="col-md-12 section-t8">
          <div class="title-box-d">
            <h3 class="title-d">ملک های مربوطه :</h3>
          </div>
         </div>
       </div> {% endcomment %}
         
      
            
       
      
     
         
        
        

      </div>
    </div>
   
  </section>
  <!--/ Agent Single End /-->

  {% else %}


     
      
      <h3 style="text-align: center" >برای گرفتن اطلاعات بیشتر  <a href="{% url 'signup' %}">ثبت نام</a> کنید یا <a href={% url "login" %}>وورد</a> کنید 
      </h3>
 

{% endif %}








</body>
</html>
{% endblock content %}

