<!--/ footer Star /-->
<section class="section-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-4 section-md-t3">
          <div class="widget-a">
            <div class="w-header-a">
              <h3 class="w-title-a text-brand">املاک سبز</h3>
            </div>
            <div class="w-body-a">
              <p  class="w-text-a color-text-a">
               املاک سبز میتواند به شما کمک کند تا خانه خود را به بهترین قیمت اجاره دهید با به فروش برسانید 
              </p>
            </div>
            <div class="w-footer-a">
              <ul class="list-unstyled">
                <li class="color-a">
                  <span class="color-text-a">شماره تلفن :</span> 09303719895</li>
                <li  class="color-a">
                  <span  class="color-text-a"> ایمیل: </span >ali.nati080@gmail.com </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 section-md-t3">
          <div class="widget-a">
            <div class="w-header-a">
              <h3 class="w-title-a text-brand">خدمات ما </h3>
            </div>
            <div class="w-body-a">
              <div class="w-body-a">
                <ul class="list-unstyled">
                  <li class="item-list-a">
                    <i class="fa fa-angle-right"></i> فروش ملک
                  </li>
                  <li class="item-list-a">
                    <i class="fa fa-angle-right"></i> اجاره ملک
                  </li>
                  <li class="item-list-a">
                    <i class="fa fa-angle-right"></i> مشاوره بازسازی ملک
                  </li>
                  <li class="item-list-a">
                    <i class="fa fa-angle-right"></i> اطلاع رسانی راجب اخبار ملک 
                  </li>
                  <li class="item-list-a">
                    <i class="fa fa-angle-right"></i> مشاوره در زمینه خرید ملک در شهر اصفهان 
                  </li>
                 
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 section-md-t3">
          <div class="widget-a">
            <div class="w-header-a">
              <h3 class="w-title-a text-brand">شهر های ما :</h3>
            </div>
            <div class="w-body-a">
              <ul class="list-unstyled">
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i> اصفهان
                </li>
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i> "شاهین شهر
                </li>
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i> سپاهان شهر
                </li>
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i> بهارستان
                </li>
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i>خمینی شهر 
                </li>
                
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav class="nav-footer">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="{% url 'house:house_list'  %}">صفحه اصلی</a>
              </li>
              <li class="list-inline-item">
                <a href="{% url 'house:about'  %}">درباره ما</a>
              </li>
              <li class="list-inline-item">
                <a href="{% url 'house:house_total_list'  %}">املاک</a>
              </li>
              <li class="list-inline-item">
                <a href="{% url 'blog:blog_list'  %}">بلاگ ها</a>
              </li>
              <li class="list-inline-item">
                <a href="{% url 'contact:contact_list'  %}">ارتباط با ما</a>
              </li>
            </ul>
          </nav>
          <div class="socials-a">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-telegram" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-whatsapp" aria-hidden="true"></i>
                </a>
              </li>
              
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
              </li>
              
             
            </ul>
          </div>
      
          <div class="credits">
            
            Designed by ali nateghi
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!--/ Footer End /-->